body{
    background: rgb(3, 3, 3);
}
h1{
    color: white;
    text-align: center;
    padding-top: 30px;
}

.clock {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    color: #17D4FE;
    font-size: 60px;
    font-family: 'Times New Roman', Times, serif;
    letter-spacing: 7px;

}